body {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */

  /* background: url(../../app/images/bg1.png) no-repeat; */
  /* background-size: cover; */
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.title {
  margin-top: 50px;
}

h1 {
  color: #c44747;
  font-size: 64px;
}
.field label {
  font-weight: 900;
  font-size: 1.2em;
  color: black;
  background: white;
}
.timer {
  margin-top: 25px;
  width: 330px;
  height: 330px;
  position: relative;
  background: url(images/gummy-apple-watch.png) no-repeat;
  background-size: 650px 600px;
  background-position: center;
}
/* #app.container { */
/* background: url(images/gummy-apple-watch.png) no-repeat; */
/* background-size: 650px 600px; */
/* background-position: center; */
/* } */
#app.container.coffee {
  background: url(images/gummy-coffee.png) no-repeat;
  background-size: 650px 600px;
  background-position: -149px -141px;
}
#form {
  margin-top: -21px;
}
#timerDisplayWrapper {
  margin-top: 83px;
  /* background: #404a6e; */
  position: relative;
  margin: 83px auto;
  width: 136px;
  height: 144px;
  border-radius: 15px;
}
.timerDisplayWrapper-background1 {
  background: url(images/gummy-coffee.png) no-repeat;
}
#timeDisplay {
  position: absolute;
  font-size: 1.5em;
  top: 55px;
  left: 12px;
  /* background-color: transparent; */
  /* border: 1px dashed white; */
}
#timeInputLabelContainer {
  display: flex;
  justify-content: space-between;
  /* background-color: white; */
  padding: 3px;
}
#timeInputLabelContainer label {
  font-weight: 900;
  font-size: 1em;
}
#timeInputLabelContainer label:nth-child(1) {
  color: white;
}
#timeInputLabelContainer label:nth-child(2) {
  color: bisque;
}

#timeInputContainer {
  flex-wrap: nowrap;
}
#workTime {
  /* color: white; */
  font-weight: bold;
  font-size: 1.2em;
}
#breakTime {
  /* color: white; */
  font-weight: bold;
  font-size: 1.2em;
}
#handleTimerContainer {
  position: absolute;
  bottom: -14px;
  width: 96%;
  /* left: 21px; */
}
#handleTimer {
  display: none;
  font-weight: bold;
  color: aliceblue;
  /* background: transparent; */
  /* border: 1px solid; */
}
#first-segment {
  position: absolute;
  top: 0px;
  right: 0px;
}

#second-segment {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#third-segment {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#fourth-segment {
  position: absolute;
  top: 0px;
  left: 0px;
}
#tagToday {
  position: absolute;
  top: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: none;
  color: white;
}
#tagToday span:nth-child(1) {
  color: red;
  font-weight: bold;
}
#settingTag {
  position: absolute;
  right: 205px;
  top: 48px;
  width: 20px;
  height: 10px;
  border-radius: 5px;
  transform: rotate(89deg);
  cursor: pointer;
}

#pauseResumeTag {
  position: absolute;
  left: 123px;
  top: 94px;
  width: 56px;
  height: 10px;
  border-radius: 5px;
  transform: rotate(89deg);
  cursor: pointer;
}
#tagToday span:nth-child(2) {
  margin-left: -46px;
}
#timeDisplayTitleTag {
  /* margin: 0; */
  /* border-bottom: 1px solid red; */
  margin-top: -48px;
  position: absolute;
  left: 0px;
}
#timeDisplayTitleTag span:nth-child(1) {
  display: block;
  opacity: 0.5;
  text-align: right;
  line-height: 23px;
  width: 135px;
}
#settings {
  position: absolute;
  left: 0px;
}

.sb-title-tag {
  /* opacity: 0.7; */
  /* margin-left: 27px; */
}
.time-display {
  width: 100%;
  position: absolute;
  top: 29%;
  left: 49%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #ff8080;
}

h2 {
  font-size: 64px;
  color: #f85959;
  text-align: center;
}

/**** Tooltip ***/
.tooltip-settingTag {
  position: absolute;
  display: none;
  bottom: 130%;
  padding: 10px;
  background-color: #333;
  border-radius: 3px;
  /* font-size: 10px; */
  color: #eee;
  font-size: 0.7em;
  /* font-weight: 700; */
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  animation: moveup 0.4s linear;
}
/* .tooltip-settingTag:after { */
/* position: absolute; */
/* content: ""; */
/* top: -9px; */
/* left: 53px; */
/* border-top: 5px solid transparent; */
/* border-right: 5px solid transparent; */
/* border-bottom: 5px solid black; */
/* border-left: 5px solid transparent; */
/* } */
#settingTag:hover > .tooltip-settingTag {
  display: block;
}

@keyframes moveup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/***** Modal *****/
.btn-wrapper {
  display: flex;
  justify-content: center;
}
/*********************/
.field-body {
  display: flex;
}
canvas {
  background: none;
}

/***JustDoit background**/
#justDoit {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 72px;
  background: url(images/justDoit.png) no-repeat;
  background-size: contain;
}
/********Hambuerger Menu********/
.hamburger-menu {
  position: absolute;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: none;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn.active {
  display: flex;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 75%;
  height: 2px;

  background-color: #616161;
  /* background-color: whitesmoke; */

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
